* {
   margin: 0;
   padding: 0;
   text-align: center;
}
h1 {
    background-color: black;
    color: yellowgreen;
    height:5rem;
    line-height: 5rem;
}
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    cursor: pointer;
    background-color: black;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    font-size: 5rem;
}
#user-score,#comp-score{
    font-size: 5rem;
}
.msg-container {
    margin-top: 5rem;
}
#msg{
    
    gap: 3rem;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
#nk {
    background-color: aqua;
    display: inline;
    border-radius: 1rem;
}
#pc {
    background-color: aqua;
    display: inline;
    border-radius: 1rem;
}
